<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary </title>
</head>
<body>
    <h1>Your Order Details are as follow :  </h1>
    <p>{{name1}}:</p>
    <p><strong>Address</strong> {{address}}</p>
    <p><strong>Product Name </strong> {{ product }}</p>
    <p><strong>Quantity </strong> {{ quantity }}</p>
    <p><strong>mob </strong> {{ mobile }}</p>
    <a href="{{ url_for('homepage') }}">Back to Home</a>
</body>
</html>
